/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}




/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

::selection {
  background: $col-c;
  color: #000;
}
::-moz-selection {
  background:$col-c;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: 'Barlow Condensed', sans-serif;
  // font-family: 'Bungee', cursive;
  // font-family: 'Rubik', sans-serif;
  color: #000;
  // letter-spacing: -1px;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Poppins', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800!important;
  // font-size: .7em;
  // text-align: center;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
  }
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  // &:visited {
  //   color: darken($brand-color);
  // }

  &:hover {
    // color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  &::before {
    content: open-quote;
    content: 'â¯';
    // line-height: 100%;
    margin-left: -1.8em;
    position: absolute;
    color: #313232;
    font-weight: bold;
  }

  line-height: $su * 1.2;
  border-left: $su solid $col-a;
  padding: $spacing-unit / 2;
  margin: $su * 1.5 0;
  font-weight: 100;
  box-shadow: $su/2 $su/2 $su/16 rgba(0, 0, 0, 0.2);
  background:rgba(0, 0, 0, 0.8);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: $spacing-unit / 1.6;
  color: $col-b;

  > :last-child {
    margin-bottom: 0;
  }

  h2:last-child {
    margin-top: -$su;
  }

  > :first-child {
    margin-top: 0;
  }


  h1, h2, h3, h4, h5, h6 {
    color: $col-b;
  }

  a {
    font-weight: 400;
    color: $col-a;
    // text-decoration: underline;
    font-style: italic;
    &:hover{
      background: $col-c;
      color: #000;
    }
  }

  p > code, li > code {
    color: $col-b;
    padding: $su/8 $su/4;
    // font-size: 0.7em;
    font-weight: 200!important;
    font-family: inherit;
    font-size: inherit;
    border: 0.5px solid #555;
    border-radius: 3px;
    // background: $col-a;
    background: #444;
    margin: 0 $su / 8;
  }
}

iframe {
  padding: $spacing-unit / 16;
  margin-bottom: $su;
  box-shadow: $su/2 $su/2 $su/16 rgba(0, 0, 0, 0.2);
  background:rgba(0, 0, 0, 0.8);
}

/**
 * Code formatting
 */
pre,
code {
  font-family: Hack, monospace;
  // font-family: 'Fira Code', monospace;
  // background-color: #4F5B66
  @include relative-font-size(0.8);
}

code {
  padding: $su / 16 $su / 8;
}

p > code, li > code {
  // position: relative;
  // top: -2px;
  // @include relative-font-size(0.7);
  background: $col-c;
  font-family: inherit;
  border-radius: 3px;
  background-color: #eee;
  border:1px solid rgba(0, 0, 0, 0.1);
  color: #555;
  font-family: Hack, monospace;
  // font-family: 'IBM Plex Sans', sans-serif;
  // font-weight: 400!important;
  margin-left: 0 $su / 32; 
  // box-shadow: $su / 8 $su / 8 $su / 8 $col-a;
}

.post-category {
  background: white;
  border: 1px solid $col-a;
  text-transform: capitalize;
  font-family: 'Fira Code', monospace;
  font-weight: 100;
  @include relative-font-size(0.7);
  border-radius: 3px;
  padding: 2px 6px;
  margin-bottom: 8px;
  margin-right: 4px;
  &:hover, &:focus {
    background: $col-a;
    a {
      color: white;
    }
  }
}

.post-tag {
  background: $col-b;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  margin-right: 4px;
  font-family: 'Fira Code', monospace;
  font-weight: 100;
  @include relative-font-size(0.7);
  border-radius: 3px;
  padding: 2px 6px;
  &:hover, &:focus {
    background: $col-a;
    a {
      color: white;
    }
  }
}

.search-tag {
  background: $col-c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  font-family: 'Fira Code', monospace;
  font-weight: 100;
  @include relative-font-size(0.7);
  border-radius: 3px;
  padding: 2px 6px;
  margin-bottom: 8px;
}

.post-date {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  font-family: 'Fira Code', monospace;
  font-weight: 100;
  @include relative-font-size(0.7);
  border-radius: 3px;
  padding: 2px 6px;
  margin-bottom: 8px;
  margin-right: 4px;
}

li .highlighter-rouge .highlight {
  margin-bottom: $su;
  background-color: #EEE;
  overflow-x: scroll;
  
  .highlight {
    padding: $su/2;
    margin-bottom: 0;
    
    > code {
      padding-right: $su!important;
      border: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }
}

.post-content > .highlighter-rouge {
  background-color: #EEE;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  padding-top: $spacing-unit;
}

$code-0x: #fff;

.post-content > blockquote > .highlighter-rouge > .highlight > .highlight{
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  
  .err , .esc , .g , .l , .n , .o , .x , .p , .gd , .ge , .gr , .gh , .gi , .gp , .gs , .gu , .gt , .nb , .nc , .nd , .ni , .ne , .nf , .nl , .nn , .nx , .py , .ow , 
  .ld {color: $code-0x!important;}
}

.post-content > .highlighter-rouge > .highlight > pre.highlight,
code.language-cli {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0px $su;
  padding-bottom: $spacing-unit;
  overflow-x: scroll;
  border-radius: 3px;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  // @include media-query($on-laptop) {
  //   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  //   max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  //   padding-right: $spacing-unit / 2;
  //   padding-left: $spacing-unit / 2;
  // }
}

.wide .wrapper {
  max-width: -webkit-calc(#{$window-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$window-width} - (#{$spacing-unit} * 2));
}




/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

input, a, button {
  outline-color: $col-b;
  // outline-width: 8px;
  // &:focus {
  //   outline-style: solid;
  // }
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

